.rep-page {
    border-radius: 32px;
    box-shadow: 0px 0px 12px 6px #eee;
    margin: 32px;
    padding: 32px;
}
.tweet {
    border-radius: 32px;
    box-shadow: 0px 0px 12px 6px #eee;
    margin: 32px;
    padding: 32px;
}

.half-width {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .rep-page {
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
    }
}